* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	width: 100%;
	height: 70px;
	background-color: #ec715f;
}

.container {
	width: 1024px;
	margin: 0 auto;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

.header-logo {
	height: 70px;
	float: left;
}

.nav {
	float: right;
}


.nav-item {
	color: #fafafa
	font-size: 16px;
	padding: 0 30px;
	line-height: 70px;
	float: left;
	list-style: none;
}

.nav-item a {
	color: #fafafa
}

a {
	text-decoration: none;
}

.main-visual {
	background-image: url(img/mv.png);
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 650px;
	text-align: center;
	color: #fafafa;
}

.main-title {
	padding-top: 200px;
	font-family: "Raleway", sans-serif;
	font-size: 64px;
}

.main-subtitle {
	padding-top: 10px;
	font-size: 20px;
}

.portfolio {
	background-color: #eceff1;
}

.container-portfolio {
	width: 920px;
	margin: 0 auto;
}

.p-title {
	padding-top: 90px;
	text-align: center;
	font-size: 32px;
	font-family: "Raleway", sans-serif;
}

.p-title::after {
	content: "";
	display: block;
	width: 70px;
	height: 3px;
	margin: 8px auto 0 auto;
	background-color: #ec715f
}

.p-text {
	font-size: 16px;
	color: #000000;
	padding-top: 30px;
	text-align: center;
}

.images {
	width: 920px;
	padding: 30px 0 90px 0;
	margin: 0 auto;
}

.image-1 {
	background-image: url(img/sketch.jpg);
}

.image-2 {
	background-image: url(img/websuku.png);
}

.image-3 {
	background-image: url(img/write.jpg);
}

.image-4 {
	background-image: url(img/webcamp.png);
}

.image-5 {
	background-image: url(img/talk.jpg);
}

.image-6 {
	background-image: url(img/webcamp-mother.png);
}

.production {
	float: left;
	width: 300px;
	height: 250px;
	background-size: cover;
	background-position: center;
	margin: 0 10px 10px 0
}

.production:nth-child(-n+3) {
	margin-top: 0;
}

.production:nth-child(3), .production:nth-child(6) {
	margin-right: 0;
}

.strength-group {
	width: 980px;
	padding: 30px 0 90px 0;
	margin: 0 auto;
}

.strength {
	width: 320px;
	float: left;
	margin-right: 10px;
	text-align: center;
	font-size: 60px;
}

.strength:last-child {
	margin-right: 0;
}

.fa {
	display: inline-block;
	font-size: inherit;
}

.strength-title {
	padding: 10px 0;
	font-size: 20px;
}

.strength-text {
	text-align: left;
	font-size: 16px;
}

.profile {
	background-color: #eceff1;
}

.profile-group {
	padding: 30px 0 90px 0;
}

.profile-left {
	width: 50%;
	float: left;
}

.profile-image {
	width: 250px;
	height: 250px;
	margin: 0 auto;
	border-radius: 50%;
	background-image: url(img/my-icon.jpg);
}

.profile-right {
	width: 50%;
	float: right;
}

.profile-title {
	margin: 20px 0 5px 0;
	font-size: 20px;
}

.profile-title:first-child {
	margin-top: 0;
}

.profile-text {
	font-size: 16px;
}

.container-contact {
	width: 800px;
	margin: 0 auto;
}

.contact-group {
	width: 800px;
	padding: 30px 0 90px 0;
	margin: 0 auto;
}

.left-contact {
	width: 50%;
	float: left;
}

.left-contact-content {
	width: 130px;
	margin: 0 auto;
}

.contact-title {
	margin: 20px 0 5px 0;
	font-size: 20px;
}

.contact-title:first-child {
	margin-top: 0;
}

.contact-text {
	font-size: 16px;
}

.link-text {
	text-decoration: underline;
	color: #212121;
}

.right-contact {
	width: 50%;
	float: right;
}

.right-contact-content {
	width: 170px;
	margin: 0 auto;
}

.right-contact-content .fa {
	font-size: 50px;
	margin-right: 20px;
}

.right-contact-content .fa:last-child {
	margin-right: 0;
}

footer {
	height: 60px;
	background-color: #ec715f
}

.copyright {
	font-size: 16px;
	text-align: center;line-height: 60px;
	color: #fafafa
}

@media screen and (max-width: 768px) {
	header {
		height: 50px;
	}

	.container {
		width: 90%;
		margin: 0 auto;
		padding: 0 5%;
	}

	.header-logo {
		float: none;
		height: 50px;
	}

	.hamburger-menu {
		float: right;
		width: 40px;
		height: 40px;
		margin-right: 5px;
		border: 1px solid #fafafa;
		margin-top: 5px;
		margin-bottom: 5px;
	}

	.list-bar {
		display: block;
		width: 25px;
		height: 2px;
		margin: 5px auto;
		background-color: #fafafa;
	}

	.list-bar:first-child {
		margin-top: 10px;
	}

	.nav {
		float: none;
	}

	.nav-item {
		display: none;
		float: none;
		width: 100%;
		line-height: 50px;
		border-bottom: 1px solid gray;
		text-align: center;
		background-color: rgba(0,0,0,0.9);
	}

	.main-visual {
		height: 650px;
		background-image: url(img/code.png);
	}

	.main-title {
		padding-top: 200px;
		font-size: 40px;
	}

	.main-subtitle {
		padding-top: 10px;
		font-size: 18px;
	}

	.container-portfolio {
		width: 90%;
		margin: 0 auto;
		padding: 0 5%;
	}

	.images {
		width: 300px;
		margin: 0 auto;
	}

	.production {
		float: none;
	}

	.production:nth-child(-n+3) {
		margin-top: 0;
	}

	.production:nth-child(3n) {
		margin-right: 0;
	}

	.rsp-none {
		display: none;
	}

	.strength {
		float: none;
	}

	.feature {
		padding: 0 5%;
		background-size: cover;
		background-position: center;
	}

	.container-feature {
		width: 90%;
		margin: 0 auto;
	}

	.strength-group {
		width: 320px;
	}

	.strength:first-child {
		margin-top: 0;
	}

	.strength {
		float: none;
		margin-top: 10px;
	}

	.profile {
		padding: 0 5%;
	}

	.profile-group {
		text-align: center;
	}

	.profile-left {
		float: none;
		width: 100%;
	}

	.profile-right {
		float: none;
		width: 100%;
	}

	.profile-title:first-child {
		margin-top: 20px;
	}

	.container-contact {
		padding: 0 5%;
		margin: 0 auto;
		width: 90%;
	}

	.contact-group {
		width: 100%;
		text-align: center;
	}

	.left-contact {
		float: none;
		width: 100%;
	}

	.left-contact-content {
		width: 100%;
	}

	.contact-title:first-child {
		margin-top: 20px;
	}

	.right-contact {
		float: none;
		width: 100%;
	}

	.right-contact-content {
		width: 100%;
		margin-top: 20px;
	}

	.right-contact-content .fa {
		font-size: 50px;
		margin-right: 8px;
	}
}